* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

/*Use styles below for the navbar*/

.title {
  position: relative;
  margin: 15px 15px;
}

.appname {
  color: #00a2ff;
}

.appname,
.appdesc {
  display: inline;
}

.appdesc {
  right: 0;
  position: absolute;
  font-weight: 500;
}

[class="fa fa-sort-down"] {
  font-size: 19px;
  margin-left: 10px;
}

.navbar {
  background-color: #5f5f5f;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff9a00;
}

.navbar a.active {
  background-color: #00a2ff;
  color: white;
}

.navbar a.active:hover {
  color: white !important;
}

.rightnavbar {
  float: right;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .profile {
  font-weight: bold;
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 18px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .profile {
  color: #ff9a00 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*End of styles for navbar*/

/* Module In-pages Tab */

#module-tab {
  display: flex;
  height: 100%;
  margin: 1rem 1rem;
  border: 1px solid rgba(212, 212, 212, 0.7);
  border-width: thin;
}

.link {
  flex: 1;
  background-color: white;
  color: black;
  width: 50%;
  height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 14px 16px;
  font-size: 1.5rem;
}

.link:hover {
  color: #0065ff !important;
}

/* Pending/In Progress and Confirmed Section */

.content {
  height: 100%;
  margin: 1.5rem 1rem;
  padding: 0;
  display: none;
  clear: both;
  background-color: white;
}

.training-workshop-content {
  display: flex;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.training-workshop-content:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.training-workshop-content div {
  flex: 3;
  margin-left: 1rem;
}

.training-workshop-content p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.training-workshop-content div h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.training-workshop-content div p:not(:last-child) {
  margin-bottom: 0;
}

.training-workshop-content p:nth-last-child(2) {
  font-weight: bold;
}

.training-workshop-content p:last-child {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.training-workshop-content div p:not(:first-of-type) {
  font-size: 0.8rem;
  color: #575655;
}

.content img {
  flex: 0.5;
  width: 100%;
  height: 150px;
}

/* User Interaction Button */
#user-interaction {
  display: flex;
  margin: 1rem 1rem;
}

#user-interaction button {
  flex: 1;
}

.cancel-request-button {
  background-color: red;
  padding: 1rem;
  margin: 5rem;
  cursor: pointer;
  border: 2px solid red;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  transition-duration: 0.4s;
}

.cancel-request-button:hover {
  background-color: white;
  border: 2px solid red;
  color: black;
}

.request-alternatives-button {
  background-color: #0065ff;
  padding: 1rem;
  margin: 5rem;
  border: 2px solid #0065ff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  transition-duration: 0.4s;
}

.request-alternatives-button:hover {
  background-color: white;
  border: 2px solid #0065ff;
  color: black;
}

/*** MODAL BOX SECTION ***/
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff9a00;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
}

.modal-content h2,
.modal-content h4 {
  color: white;
  padding-top: 1rem;
}

.modal-content h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Cancel confirmation modal box */
.cancel-confirmed-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.cancel-confirmed-close-button {
  float: right;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #696969;
}
.cancel-confirmed-close-button:hover {
  color: white;
}

/* Cancel Training Workshops request as operator Modal Box */
.cancel-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.cancel-close-button {
  float: right;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #696969;
}
.cancel-close-button:hover {
  color: white;
}

.cancel-modal-confirm-button {
  float: right;
  padding: 0.7rem 1.4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: red;
  border: 1px solid red;
  color: white;
}

.cancel-modal-confirm-button-disabled {
  float: right;
  padding: 0.7rem 1.4rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(226, 181, 181);
  border: 1px solid rgb(226, 181, 181);
  color: grey;
}

.cancel-modal-confirm-button:hover {
  background-color: white;
  color: black;
}

select {
  width: 100%;
  height: 60px;
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 4px;
  font-size: 17px;
}

select option[value=""][disabled] {
  display: none;
}

#other-reason-section {
  display: none;
  margin-bottom: 2rem;
}

#other-reason-section textarea {
  width: 99%;
  height: 5rem;
  resize: none;
}

/* Request for training alternatives Modal Box */
.request-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.request-close-button {
  float: right;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #696969;
}

.request-close-button:hover {
  color: white;
}

.request-modal-confirm-button {
  float: right;
  padding: 0.7rem 1.4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #00e500;
  border: 1px solid #00e500;
  color: black;
}

.request-modal-confirm-button-disabled {
  float: right;
  padding: 0.7rem 1.4rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: rgb(226, 181, 181);
  border: 1px solid rgb(226, 181, 181);
  color: grey;
}

.request-modal-confirm-button:hover {
  background-color: #008900;
  border: 1px solid #008900;
  color: white;
}

/* Request training alternatives modal box */
.request-confirmed-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.request-confirmed-close-button {
  float: right;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: #696969;
}
.request-confirmed-close-button:hover {
  color: white;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#logo:hover {
  cursor: pointer;
  opacity: 50%;
}
