body{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}
.notification_title{
    margin-left: 25%;
}
.notifications_table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;
    text-align: left;
}
.notifications_table tr th{
    background-color: #0065ff;
    color: white;
}
.contents{
    font-size: 15px;
}
.dates{
    font-size: 15px;
}
