* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.error {
  padding-left: 10px;
  border: 1px solid #a94442;
  border-radius: 5px;
  background: #f2dede;
  text-align: left;
}

.title {
  margin: 30px 0;
  text-align: center;
  color: #00a2ff;
}

p {
  color: black;
}

a:link {
  color: #00a2ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #00a2ff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff5d00;
  text-decoration: none;
}

a:active {
  color: #ff5d00;
  opacity: 0.6;
  text-decoration: none;
}

#bigTxt {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 17px;
}

#smallTxt {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 17px;
}

form {
  width: 50%;
  margin: 0 auto;
  color: #00a2ff;
}

label {
  color: black;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 18px 0;
  border-radius: 5px;
  border: none;
  background: #e9e9e9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
}

button {
  background-color: #0065ff;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 80%;
}

.cancelbtn {
  padding: 10px 20px;
  background-color: #ff5e00;
}

.cancelbtn,
.signupbtn {
  border-radius: 5px;
}

.container {
  padding: 5px 16px 10px;
}
