body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
}

/*  Request Page  */
.search-training-section {
    width: 85%;
    margin: 5% auto;
    border: 1px solid #A0ABBC;
    border-radius: 5px;
    padding: 2rem;
}

.request-detail-section {
    width: 85%;
    margin: 5% auto;
    border: 1px solid #A0ABBC;
    border-radius: 5px;
    padding: 2rem;
}

.request-detail-section h1 {
    margin: 0;
}

.search-training-section h1 {
    margin-top: 0;
}

.request-detail-section h5 {
    color: #ff9a00;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.training-search-bar {
    padding: 15px 32px;
    border: 1px solid grey;
    width: 80%
}

.search-button {
    width: 10%;
    padding: 15px 32px;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    text-align: center;
    background-color: #0065ff;
}

.label-training-type {
    display: block;
    text-align: left;
    color: #A0ABBC;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.cancel-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #0065ff;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.container-cancel-button {
    text-align: right;
}

.search-training-table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
}

.search-training-table th {
    width: 33.3%;
    border-bottom: 2px solid black;
}

.container-send-training-button {
    text-align: right;
    margin: 0;
    margin-top: 2%;
}

.send-training-button {
    background-color: #0065ff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #0065ff;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.search-training-table tr:nth-child(1n + 2) {
    border-bottom: 1px solid black;
}

.search-training-table tr td {
    text-align: center;
    padding: 2rem;
}

.check-row {
    border-bottom: none;
}


/*** MODAL BOX SECTION ***/

/* Send Training Workshops to client Modal Box */
.send-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff9a00;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius : 0.5rem;
}

.send-close-button {
    float: right;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: #696969;
}
.send-close-button:hover {
    color: white;
}

.modal-content h3 {
    color:white;
    padding-top: 1rem;
}


/* Cancel Training Workshops request as operator Modal Box */
.cancel-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.cancel-close-button {
    float: right;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: #696969;
}
.cancel-close-button:hover {
    color: white;
}

.confirm-button {
    float: right;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: red;
    border: 1px solid red;
    color: white;
}

.confirm-button:hover {
    background-color: white;
    color: black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
